{block title}
<title>Fotografie | Skv Ostrava</title>
{/block}

{block content}
    <h1 class="page-header">Správa fotografií</h1>

    {form uploadImageForm}
        <table>
            <tbody>
                <tr>
                    <th class="control-label">
                        {label image /}
                    </th>
                    <td>
                        {input image}
                    </td>
                    <td>
                        {input save}
                    </td>
                </tr>    
            </tbody>
        </table>
    {/form}
    <h1 class="page-header">Nepřiřazené fotografie:</h1>

    {ifset $photos}{foreach $photos as $photo}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
<!--                <a class="remove-img" href="#">
                <span class="glyphicon glyphicon-remove text-danger" ></span>
                </a>-->
                <img class="thumbnail center-block" src="{$photo->linkThumbNail}"/>
            </div>
        {/foreach}

    {/ifset}

{/block} 

