
{form editForm}
    <table>
        <tbody>
            <tr>
                <th class="required control-label">
                    {label title /}
                </th>
                <td>
                    {input title}
                </td>
            </tr>
            <tr>
                <th class="required control-label">
                    {label alias /}
                </th>
                <td>
                    {input alias}
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr>
                <td>
                    {input content}
                </td>
            </tr>
            <tr>
                <td>
                    {input save}
                </td>
            </tr>    
        </tbody>
    </table>
{/form}