{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{ifset title}{include title|striptags}{/ifset}</title>

        <link rel="stylesheet" href="{$basePath}/css/style-admin.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        
        <div class="container">
            <div class="clearfix">
                <div class="navbar navbar-default hidden-xs">
                    <div class="navbar-header">
                        <a class="navbar-brand"n:href=":Front:Homepage:default">Domovská stránka</a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" >Přihlášen: {$user}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a n:href=":Front:Sign:out">Odhlásit se</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class='navbar navbar-default navbar-left'>
                <div class="navbar-header">
                    <a class="navbar-brand" n:href="Dashboard:"> Přehled</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-default sidebar">
                    <div class="sidebar-nav navbar-collapse" id="admin-navbar">
                        <ul class="nav navbar-left" n:inner-foreach="$menuAdminItems as $item => $link">

                            {ifset $link['subMenu']}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" >{$item}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {foreach $link['subMenu'] as $name => $linos}
                                            <li>
                                                <a n:href="$linos['path'], isset($linos['params']) ? $linos['params']">{$name}</a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </li>
                            {elseifset $link['params'] }
                                <li {ifCurrent $link['path']} class='active'{/ifCurrent} >
                                    <a n:href="$link['path'], $link['params']">{$item}</a>
                                </li>
                            {else}
                                <li {ifCurrent $link['path']} class='active'{/ifCurrent} >
                                    <a n:href="$link['path']">{$item}</a>
                                </li>
                            {/ifset}

                        </ul>
                        <ul class="nav navbar-left visible-xs">
                            <li role="separator" class="nav-divider"></li>
                            <li><a n:href=":Front:Homepage:default">Domovská stránka</a></li>
                            <li><a n:href=":Front:Sign:out">Odhlásit se</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="page-wrapper">
                <div class="col-md-9">
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                    {include content}
                </div>
            </div>
            {block scripts}
            <script src="/js/app-admin.js"></script>
            
            <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
            
            
            
            
            <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
            <script>tinymce.init({
                    height: '500', selector: 'textarea'
                });</script>
            
            {/block}

        </div>
    </body>
</html>
