/*doc
---
title: Colors
name: 01-colors-palette
category: Layout
---

These palette of colors used on this side.

```html_example

<h3>Layout colors</h3>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="color-menu-bg color__box">
        </div>
        <code class="color-caption">
            .color-menu-bg 
        </code>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="color-menu-item color__box">
        </div>
        <code class="color-caption">
            .color-menu-item
        </code>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="web-background-color color__box">
        </div>
        <code class="color-caption">
            .background-color
        </code>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="color-item-border color__box">
        </div>
        <code class="color-caption">
            .color-item-border
        </code>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-3">
        <div class="section-background-color color__box">
        </div>
        <code class="color-caption">
            .section-background-color
        </code>
    </div>
</div>

```
*/

.highlight {
    max-height: 300px;
    overflow-y: auto;
}

.color__box {
    display: block;
    margin: 2rem 0 0 0;
    min-height: 15rem;
}

.color-caption {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    text-align: center;

}
.color-menu-bg {
    background-color: $color-menu-bg;
}

.color-menu-item {
    background-color: $color-menu-item;
}

.web-background-color {
    background-color: $background-color;
}
.color-item-border {
    background-color: $color-item-border;
}

.section-background-color {
    background-color: $section-background-color;
}
