/*doc
---
title: Footer
name: 01-footer
category: Components
---

Webside footer

```html_example

<div class="footer">
    <div class="text__right">
        <a class="pull__left footer__link" href="/admin/">administrace</a>
        <p><img src="../images/logo.jpg" width="40px"></p>
        <p>Sportovní klub vozíčkářů</p>
        <p>E-mail: <a class="footer__link" href="mailto:skv.ostrava@seznam.cz">skv.ostrava@seznam.cz</a></p>
        <p>Mobil: +420 603 162 933</p>
    </div>
</div>
```
*/

.footer {
    background: $background-color;
    background-image: url("../images/footer.jpg");
    color: $color-white;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    
}

.text__right {
    text-align: right;
}

.pull__left {
    float: left;
}

.footer__link {
    color: $color-white;
    
    &:hover,
    &:focus {
    @extend %footer__link--active;
  }
}

%footer__link--active {
  background: darken($background-color, 5%);
  color: $color-white;
  text-decoration: none;
}

