/*doc
---
title: Fund item
name: 01-fund-item
category: Components
---

This is styleguide example.

```html_example
<figure class="fund-item">
    <div class="portfolio-item image-fund">
        <div class="image-fund-donations">
            <a class="thumb" target="_blank" href="http://www.kr-moravskoslezsky.cz/">
                <img class="img-responsive img-rounded center-block" src="http://skvostrava.cz/imgs/dotace/menici_logo4.png" alt="Partner-logo-LASVIT-b1455406833XcAJRG">
            </a>
        </div></div>
    <figcaption class="fund-caption text-center"><p>Statutární směsto Ostrava-městský obvod Moravská Ostrava a Přívoz</p></figcaption>
</figure>
```
*/

.fund-item {
    max-width: 392px;
}
.fund-caption p{
    display: inline-block; // for non Webkit browsers
    display: -webkit-box;  // needed for the effect to cut off
    -webkit-line-clamp: 2;  // line to cut off
    -webkit-box-orient: vertical;
}

.image-fund {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    .image-fund-foundations {
        min-height: 170px;
    }
    
    .image-fund-sponsor {
        padding-left: 20px;
        padding-right: 15px;
    }
    
    .image-fund-donations {
        
    }
}
