/*doc
---
title: Gallery item
name: 02-gallery-item
category: Components
---

Gallery Item example.

```html_example

    <figure class="gallery-item">
        <a href="#">
            <img class="gallery__image" src="../data/maringotka-pudorys11453678214RDxpw3_300_225_.png" alt="Olomouc">
        </a>
        <figcaption class="gallery__caption"><h4>Olomouc </h4> 
            <p>20.8.2016 - 15.9.2016</p>
        </figcaption>
    </figure>

```
*/

.gallery-item {
    border: 2px solid $color-item-border;
    border-radius: 20px;
    display: block;
    margin: 1.5rem;
    max-width: 40rem;
    min-width: 35rem;
    padding: 2rem;
}

.gallery__image {
    display: block;
    margin: 0 auto;
}

.gallery__caption {
    text-align: center;
}


