/*doc
---
title: Header
name: 02-header
category: Components
---

Webside header. By default there is selected logo.
For animation of logos use `sponsors-slideshow.es6`

```html_example
<div class="page__header">
    <div class="page__header-border">
        <div class="header__block">
            <div class="header__col">
                <div class="header__text">
                    <p>Děkujeme všem sponzorům, dárcům, <br>členům SKV a jejich přátel<br> za podporu a přízeň.</p>
                </div>
                <div class="header__item header__item-rotate-left">
                    <p>
                        <img src="../images/logo.jpg">
                        <b>Sportovní klub vozíčkářů Ostrava</b>
                    </p>
                </div>
            </div>
            <div class="header__col header__slideshow">
                <div class="header__item header__item-rotate-right">
                    <img src="../images/menici_logo36.png">
                </div>
            </div>
        </div>
    </div>
</div>

```
*/
.page__header {
    background: $header-background-color;
    border: 10px solid $color-black;
    border-radius: 3rem;
}

.page__header-border {
    border: 4px solid $color-white;
    border-radius: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.header__text {
    color: $color-white;
    text-align: center;
    margin-bottom: 2rem;
}

.header__block {
    margin-left: -3rem;
    margin-right: -3rem;
}
.header__col {
    margin: 0.5rem;

    @media (min-width: $screen-lg-min) {
        display: inline-block;
    }
}

.header__slideshow {
    @media (max-width: $screen-lg-min) {
        display: none;
    }
}

.header__item {
    background: $color-white;
    border: 0.5rem solid $color-header-item-border;
    border-radius: 2rem;
    text-align: center;
    
    @media (min-width: $screen-sm-min) {
        min-width: 45rem;
    }
    @media (max-width: $screen-xs-min) {
        min-width: 36rem;
    }
}

.header__item-rotate-left {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.header__item-rotate-right {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}
