/*doc
---
title: Heading
name: headings
category: Typography
---

Default heading

```html_example
<h1 class="article__header">
    36px - Heading 1 link
</h1>

```
*/

.article__header {
    border-bottom: 1px solid $color-header-item-border;
    font-size: 36px;
    padding-bottom: 1rem;
    font-weight: 500;
}
