/*doc
---
title: Main Menu
name: 03-main_menu
category: Components
---

Responsive main menu with vertical submenu. Use `.menu__link--arrow` on links to show submenu.
By default without JavaScript is submenu visible. Only JS is hiding it and makes it dynamic.

For submenus use JavaScript component `menu-main.es6`.

```html_example
<ul class="menu menu--main">
  <li class="menu__item">
    <a class="menu__link" href="#">Úvod</a>
  </li>
  <li class="menu__item js-menu-item">
    <a class="menu__link js-menu-link" href="#">Akce</a>
    <ul class="menu menu--vertical js-menu-sub">
      <li class="menu__item">
        <a class="menu__link" href="#">Akce 1</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Akce 2</a>
      </li>
    </ul>
  </li>
  <li class="menu__item">
    <a class="menu__link" href="#">Kontakt</a>
  </li>
</ul>
```
*/

.menu {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

.menu--main {
  background: $color-menu-bg;

  .menu__item {
    position: relative;

    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

.menu--vertical {
  margin-left: 2rem;

  @media (min-width: $screen-sm-min) {
    margin-left: 0;
    position: absolute;
  }

  .menu__item {
    display: block;
  }
}

.menu__item {
  @media (min-width: $screen-sm-min) {
    width: 11.3rem;
  }
}

.menu__link {
  background: $color-menu-item;
  border: 2px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  display: block;
  padding: 1rem;
  text-align: center;
  transition: background-color .2s;

  &:hover,
  &:focus {
    @extend %menu__link--active;
  }
}

%menu__link--active {
  background: darken($color-menu-item, 15%);
  color: $color-white;
  text-decoration: none;
}

.menu__link--arrow {
  &::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid $color-white;
    content: '';
    display: inline-block;
    height: 0;
    margin-right: .5rem;
    transform: rotate(-90deg);
    transition: transform .2s;
    width: 0;
  }
}

.menu__link--active {
  @extend %menu__link--active;

  &::before {
    transform: rotate(0);
  }
}
