{block title}
<title>{$page->title} | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">{$page->title}</h1>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {$page->content|noescape}
</div>
{/block}