{block title}
<title>Editace přispěvatelů | Skv Ostrava</title>
{/block}
{block content}
<nav class="container-fluid hidden-xs">
    <ul class="nav nav-tabs">
        {foreach $editOrganizationItems as $item => $link}
        <li {ifCurrent $link['path'],$link['params']} class="active"{/ifCurrent}>
            <a n:href="$link['path'],isset($link['params']) ? $link['params']">{$item}</a>
        </li>
        {/foreach}
        <li class="pull-right">
            <a class="btn btn-success" n:href="Funds:new $fundsType">Přidat</a>
        </li>
    </ul>

</nav>

<h1 class="page-header visible-xs">{$typeName}

    <a class="btn btn-success pull-right" n:href="Funds:new $fundsType">Přidat</a>

</h1>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Obrázek</th>
            <th>Název</th>
            <th>Odkaz</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {ifset $foundations}
            {foreach $foundations as $fund}
                <tr>
                    <td><img src="{$basePath}{$fund->getImageObj()->getLinkThumbNail()}" alt="{$fund->getImageObj()->name}" width="80px"/></td>
                    <td>{$fund->fundName}</td>
                    <td>{$fund->link}</td>
                    <td>
                        <a n:href="Funds:edit $fund->id">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        {if !$iterator->first}
                            <a n:href="Funds:moveUp $fund->id, $fundsType" >
                                <span class="glyphicon glyphicon-arrow-up" ></span>
                            </a>
                        {/if}
                        {if !$iterator->last}
                            <a n:href="Funds:moveDown $fund->id, $fundsType" >
                                <span class="glyphicon glyphicon-arrow-down" ></span>
                            </a>{/if}

                        </td>
                        <td>
                            <a n:href="Funds:remove $fund->id, $fund->type" >
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                        {else}
                        <h2>Zatím nejsou žádné {$type}</h2>
                        {/ifset}
                        </tbody>
                    </table>
                    <table class="table table-striped table-responsive">

                        {ifset $foundationsNologo}
                            <thead>
                                <tr class="warning">
                                    <th colspan="5">Položky bez loga - nejsou zobrazeny na stránkách</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $foundationsNologo as $fund}
                                    <tr>
                                        <td>Bez loga</td>
                                        <td>{$fund->fundName}</td>
                                        <td>{$fund->link}</td>
                                        <td>
                                            <a n:href="Funds:edit $fund->id">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <a n:href="Page:edit $fund->id"  class= "not-implemented" >
                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        {/ifset}
                    </table>
                    {/block} 


