{block title}
<title>Editace přispěvatelů | Skv Ostrava</title>
{/block}
{block content}

<h1 class="page-header">Úprava informací
    
    <a class="btn btn-success pull-right" n:href="Funds:default $fund->type">Zpět na výpis</a>
    <h3>{$fund->fundName}</h3>
</h1>

<div class="row">
    <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
        {control fundEditForm}
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 pull-right">
        {control welcomeImgEdit}
    </div>
</div>
{/block} 


