{block title}
<title>Přidání přispěvatelů | Skv Ostrava</title>
{/block}

{block content}
<div class="main-content">
    <h1 class="title">Přidat nový objekt</h1>
    <div class="addNewFund">
        {control createFundForm}
    </div>
    
</div>
{/block} 


