{block title}
<title>Editace přispěvatelů | Skv Ostrava</title>
{/block}
{block content}

<h1 class="page-header text-danger">Ostranění

    <a class="btn btn-success pull-right" n:href="Funds:default $fund->type">Zpět na výpis</a>
    
</h1>

<div class="row">
    <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="well">
           <h3>{$fund->fundName} {$fundTypeName}</h3>
                <img class="center-block" src="{$fund->getImageObj()->getLinkPreview()}"/><br>
               {control removeConfirmForm}
        </div>
    </div>

</div>
{/block} 


