{block title}
<title>Fotogalerie | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Fotogalerie

    <a class="btn btn-success pull-right js-modal-open" n:href="Photogallery:new">Přidat</a>

</h1>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Obrázek</th>
            <th>Název</th>
            <th>Datum</th>
            <th></th>
        </tr></thead>
    <tbody>
        {foreach $galleries as $gallery}
            <tr>
                <td><img src="{$basePath}{$gallery->getImageObj()->getLinkThumbNail()}" alt="{$gallery->getImageObj()->name}"></td>
                <td>{$gallery->title}</td>
                <td>{$gallery->getDateAsString()}</td>
                <td>
                    <a n:href="Photogallery:edit $gallery->id" >
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a n:href="Photogallery:linkImg $gallery->id">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </td>
                <td>
                    <a class="js-modal-open" n:href="Photogallery:remove $gallery->id" >
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    </a>
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>
<table class="table table-striped table-responsive">
    {ifset $galleriesNoLogo}
        <thead>
            <tr class="warning">
                <th colspan="5" >Galerie bez uvodní fotografie - nejsou zatím zobrazeny na stránkách</th>
            </tr>
        </thead>
        <tbody>
            {foreach $galleriesNoLogo as $gallery}
                <tr>
                    <td class="danger" >Není úvodní fotka.</td>
                    <td>{$gallery->title}</td>
                    <td>{$gallery->getDateAsString()}</td>
                    <td>
                        <a n:href="Photogallery:edit $gallery->id" >
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a n:href="Photogallery:linkImg $gallery->id">
                            <span class="glyphicon glyphicon-picture"></span>
                        </a>
                    </td>
                    <td>
                        <a n:href="Photogallery:remove $gallery->id" >
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    {/ifset}
</table>
{/block} 

