{block title}
<title>Editace fotogalerie | Skv Ostrava</title>
{/block}

{block content}

<h1 class="page-header">Úprava informací o galerii

    <a class="btn btn-success pull-right" n:href="Photogallery:default">Zpět na výpis</a>
</h1>
<div class="row">
    <div class="col-lg-5">
        {control photogalleryEditForm}

    </div>
    <div class="col-lg-5 pull-right">
        {control welcomeImgEdit}
    </div>
</div>
{/block} 


