{block title}
<title>Fotogalerie - detail | Skv Ostrava</title>
{/block}
{block content}
<h1 class="page-header">{$galleryName}

    <a class="btn btn-success pull-right" n:href="Photogallery:edit $galleryId">Upravit</a>

</h1>
<div class="well">
    {control unlinkedImages}
</div>
<h2>Nepřiřazené fotografie</h2>
<div class="well">
{control tolinkedImages}
</div>

{/block}