{block title}
<title>Přidání fotogalerie | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Vytvořit novou galerii</h1>
<div class="row">
    <div class="col-lg-6">
        {control createPhotogalleryForm}
    </div>
</div>
{/block} 


