{define title}
<title>Odstranění fotogalerie | Skv Ostrava</title>
{/define}
{block content}

<div class="page-header clearfix">
    <h1 class="text-danger pull-left">Ostranění</h1>

    <a class="btn btn-success pull-right" n:href="Photogallery:default" n:if="!$isAjax">Zpět na výpis</a>
</div>

<div class="row">
    <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
        <div class="well">
            <h3>{$title}</h3>
            {ifset $gallery}
                <img class="center-block" src="{$gallery->getImageObj()->getLinkPreview()}"/><br>

            {/ifset}
            {control removeConfirmForm}
        </div>
    </div>

</div>
{/block} 


