{block title}
<title>Fotogalerie - výběr úvodní fotky | Skv Ostrava</title>
{/block}
{block content}

<h3 class="text-center">Vybrání náhledové fotky pro fotogalerii: </h3>
<h2 class="text-center">{$title}</h2><br>
{control galleryImages}

{/block}