{block title}
<title>Fotogalerie | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Fotogalerie</h1>
<div class="row">
    {foreach $photos as $photoItem}

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <figure class= "portfolio-item img-bordered">
                <a href="{link Photogallery:showphotos $photoItem->id}">
                    <img class="img-responsive img-rounded center-block" src="{$basePath}{$photoItem->getImageObj()->getLinkPreview()}" alt="{$photoItem->title}"/>
                </a>
                <figcaption class="text-center"><h4>{$photoItem->title}</h4> 
                    <p>{$photoItem->getDateAsString()}</p>
                </figcaption>
            </figure>
        </div>
    {/foreach}
</div>
{/block} 

