{block title}
<title>Fotogalerie - detail | Skv Ostrava</title>
{/block}
{block content}
<div class="row">
    <h2 class="page-header">{$title}</h2>

    {ifset $photos}
        {foreach $photos as $photo}

            <div class="col-lg-2 col-md-4 col-xs-6 ">
                   <img class="img-responsive img-box-shadow" src="{$basePath}{$photo->getLinkIcon()}">
           </div>

        {/foreach}
    {else}
        <p>Galerie zatím neobsahuj žádné fotografie.</p>
    {/ifset}
</div>
{/block}
