@mixin transform($degree) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -o-transform: rotate($degree);
    -ms-transform: rotate($degree);
    transform: rotate($degree);
}

$color-black: #000;
$color-white: #FFF;

$color-brand: #abcdef;
$radius: 5px;
$head-radius-color: #809075;
$header-background-color: #02230e;
$main-content-background-color: #CAD0C4;

$color-menu-bg: #333;
$color-menu-item: #555;
$color-item-border: #809075;
$color-header-item-border: #809075;
$background-color: #014820;

$section-background-color: #CAD0C4;
