{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{ifset title}{include title|striptags}{/ifset}</title>

        <link rel="stylesheet" href="{$basePath}/css/style-front.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 side-col">
                    <div class="pull-right visible-lg"><img src="{$basePath}/images/left.jpg"/></div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 main-page">
                    <div class="page__header">
                        <div class="page__header-border">
                            <div class="header__block">
                                <div class="header__col">
                                    <div class="header__text">
                                        <p>Děkujeme všem sponzorům, dárcům, <br>členům SKV a jejich přátel<br> za podporu a přízeň.</p>
                                    </div>
                                    <div class="header__item header__item-rotate-left">
                                        <p>
                                            <img src="{$basePath}/images/logo.jpg">
                                            <b>Sportovní klub vozíčkářů Ostrava</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="header__col header__slideshow">
                                    <div class="header__item header__item-rotate-right">
                                        <img src="{$basePath}/images/menici_logo36.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav>
                        <ul class="menu menu--main" n:inner-foreach="$menuItems as $item => $link">
                            <li class="menu__item {ifset $link['subMenu']}js-menu-item{/ifset}">
                                {ifset $link['subMenu']}
                                    <a class="menu__link js-menu-link menu__link--arrow">{$item}</a>
                                    <ul class="menu menu--vertical js-menu-sub">
                                        {foreach $link['subMenu'] as $name => $linos}
                                            <li class="menu__item">
                                                <a class="menu__link" n:href="$linos['path'], isset($linos['params']) ? $linos['params']">{$name}</a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                {else}
                                    <a class="menu__link" n:href="$link['path'], isset($link['params']) ? $link['params']">{$item}</a>
                                {/ifset}
                            </li>
                        </ul>
                    </nav>
                   
                    <section>
                        <div class="container-fluid">

                            <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                            {include content}
                        </div>
                    </section>
                </div>
                <div class="col-lg-1 side-col">
                    <div class="pull-left visible-lg pull-bottom"><img src="{$basePath}/images/right.jpg"/></div>
                </div>
            </div>
            <div class="row page-footer">
                <div class="col-lg-1 side-col ">
                    <div class="pull-right hidden-xs"><img src="{$basePath}/images/left-down.jpg"/></div>
                </div>
                <div class="col-lg-10 footer">
                    <div class="text-right">

                        <a class="pull-left" n:href=":Admin:Dashboard:default">administrace</a>
                        <p><img src="{$basePath}/images/logo.jpg" width="40px"/></p>
                        <p>Sportovní klub vozíčkářů</p>
                        <p>E-mail: <a href="mailto:skv.ostrava@seznam.cz">skv.ostrava@seznam.cz</a></p>
                        <p>Mobil: +420 603 162 933</p>
                    </div>
                </div>
                <div class="col-lg-1 side-col ">
                    <div class="pull-left hidden-xs"><img src="{$basePath}/images/right-down.jpg"/></div>
                </div>
            </div>
        </div>
        {block scripts}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script>tinymce.init({
                height: '500', selector: 'textarea'
            });</script>

        <script src="/js/app-front.js"></script>
        {/block}
    </body>
</html>
