$color-grid: #563d7c;

body {
  background-color: $color-white;
  color: $gray-dark;
  font-family: Hind, Segoe WP, Segoe UI, Verdana, Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 1.42857143;
}

h1 {
  padding-top: 70px;
}

.sidebar {
  margin-top: 70px;

  @media (min-width: $screen-sm-min) {
    position: fixed;

    width: 220px;
  }

  @media (min-width: $screen-md-min) {
    width: 290px;
  }

  @media (min-width: $screen-lg-min) {
    width: 250px;
  }
}

.navbar {
  .navbar-toggler {
    float: left;
    margin-left: -13px;
  }

  .clearfix {
    float: left;
  }
}

.docs__footer {
  margin: 20px 0;
}

.docs__color-box {
  border: 1px solid $gray-lighter;
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 150px;
  padding: 10px 0 0 10px;
}

.docs__icon {
  min-height: 115px;

  .glyphicon,
  .icon-ui,
  .icon {
    font-size: 64px;
  }
}

.code-example-padded-bottom {
  padding-bottom: 24px;
}

.code-example-type {
  .table {
    .type-info {
      color: $gray-light;
      vertical-align: middle;
    }

    td {
      border-color: $gray-lighter;
      padding: 15px 0;

      //tr:first-child & {
      //  border-top: 0;
      //}
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.code-example-bg-classes p {
  padding: 15px;
}

.code-example {
  background-color: $color-white;
  border: 1px solid $gray-lighter;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 3px 6px rgba($gray, .05);
  margin: 0 0 15px;
  padding: 45px 15px 15px;
  position: relative;

  &::after {
    color: $gray-light;
    content: 'Example';
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    position: absolute;
    text-transform: uppercase;
    top: 15px;
  }

  + .highlight,
  + .zero-clipboard + .highlight {
    border-radius: 0 0 4px 4px;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -16px;
  }

  .container {
    width: auto;
  }

  > p > .close {
    float: none;
  }

  > .img-circle,
  > .img-rounded,
  > .img-thumbnail {
    margin: 5px;
  }

  > .table-responsive > .table {
    background-color: $color-white;
  }

  > .form-control {
    resize: vertical;
  }

  > .list-group {
    max-width: 400px;
  }

  .pagination {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  > .dropdown-toggle {
    float: left;
  }

  > .dropdown-menu {
    clear: left;
    display: block;
    margin-bottom: 5px;
    position: static;
  }
}

.code-example-modal {
  background-color: $gray-lighter;

  .modal {
    bottom: auto;
    display: block;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    z-index: 1;
  }

  .modal-dialog {
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.code-example-tooltip {
  .tooltip {
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
    position: relative;
  }
}

.code-example-popover {
  background-color: $gray-lighter;
  padding-bottom: 24px;

  .popover {
    display: block;
    float: left;
    margin: 20px;
    position: relative;
    width: 260px;
  }
}

.code-example-standalone {
  border-radius: 4px;
}

.highlight {
  background-color: lighten($gray-lighter, 5%);
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 9px 14px;

  pre {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    white-space: pre;
    word-break: normal;

    code {
      color: $gray-dark;
      font-size: inherit;

      &:first-child {
        display: inline-block;
        padding-right: 45px;
      }
    }
  }
}

.show-grid [class^=col-] {
  background-color: rgba($color-grid, .15);
  border: 1px solid rgba($color-grid, .2);
  padding-bottom: 10px;
  padding-top: 10px;
}

.show-grid,
.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media max-width480px {
  .code-examples {
    margin-left: -10px;
    margin-right: -10px;
  }

  .code-examples > [class^=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }
}


