{form editForm}
    <table>
        <tbody>
            <tr>
                <th class="required control-label">
                    {label type /}
                </th>
                <td>
                    {input type}
                </td>
            </tr>
            <tr>
                <th class="required control-label">
                    {label fund_name /}
                </th>
                <td>
                    {input fund_name}
                </td>
            </tr>
            <tr>
                <th class="required control-label">
                    {label link /}
                </th>
                <td>
                    {input link}
                </td>
            </tr>
            <tr>
                <td>
                    {input create}
                </td>
            </tr>  
        </tbody>
    </table>
{/form}