{block title}
<title>Editace stránek | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Výpis všech stránek</h1>
<table class="table table-striped table-responsive"><thead>
        <tr>
            <th>Alias</th>
            <th>Nadpis</th>
            <th class="hidden-xs">Náhled obsahu</th>
            <th colspan="2">Editace</th>
        </tr></thead>
    <tbody>
        {foreach $pages as $row}
            <tr>
                <td>{$row->alias}</td>
                <td>{$row->title}</td>
                <td class="hidden-xs">{$row->contentPreview|striptags}</td>
                <td>
                    <a n:href="Page:edit $row->id">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                <td>
                    <a n:href="Page:edit $row->id">
                        <span class="glyphicon glyphicon-picture text-danger"></span>
                    </a>
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>
{/block}