{block title}
<title>{$page->title} | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Editování obsahu - {$page->title}

    <a class="btn btn-success pull-right" n:href="Page:default">Zpět na výpis</a>
</h1>
{control pageEditForm}
{/block}