
{block title}
<title>{$page->title} | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">{$page->title}</h1>
{$page->content|noescape}
<a n:href="Page:default"  class="btn btn-success pull-right">Výpis všech stránek</a>
<a n:href="Page:edit $page->id"  class="btn btn-success pull-right">Upravit</a>

{/block}