
<div class="well">
    {ifset $image}
        <img src="{$basePath}{$image->linkIcon}"/>

        <a class="btn btn-primary" href={$selectLink}  class="button">Změnit fotku</a>


    {else}
        <h2>Zatím není nastavena žádná úvodní fotografie</h2>
        <a class="btn btn-warning" href={$selectLink} >Vybrat fotku</a>

    {/ifset}
</div>