{block title}
<title>Dotace | Skv Ostrava</title>
{/block}

{block content}
<h1 class="page-header">Dotace</h1>
{ifset $donations}
    {foreach $donations as $donItem}
        <figure class= "col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="portfolio-item image-fund">
                <div class="image-fund-donations">
                    <a class="thumb" target="_blank" href="{$donItem->link}">
                        <img class="img-responsive img-rounded center-block" src="{$basePath}{$donItem->getImageObj()->getLinkBanner()}" alt="{$donItem->getImageObj()->name}"/>
                    </a>
                </div></div>
            <figcaption class="text-center">{$donItem->getFundName()}</figcaption>
        </figure>
    {/foreach}
{else}
    <h4>Zatím nejsou žádné dotace.</h4>
{/ifset}
{/block} 


