{block title}
<title>Nadace | Skv Ostrava</title>
{/block}

{block content}
<div class="row">
    <h1 class="page-header">Nadace</h1>
    {ifset $foundations}
        {foreach $foundations as $fundItem}
            <figure class= "col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-fund">
                    <div class="image-fund-foundations">
                    <a class="thumb" target="_blank" href="{$fundItem->link}">
                        <img class="img-responsive img-rounded center-block" src="{$basePath}{$fundItem->getImageObj()->getLinkBanner()}" alt="{$fundItem->getImageObj()->name}"/>
                    </a>
                </div></div>
            </figure>
        {/foreach}
    {else}
        <h4>Zatím nejsou žádné nadace.</h4>
    {/ifset}
</div>
{/block} 


