{block title}
<title>Sponzori | Skv Ostrava</title>
{/block}

{block content}
<div class="row">
    <h1 class="page-header">Sponzoři</h1>
    {ifset $sponsors}
        {foreach $sponsors as $spoItem}
            <figure class= "col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="image-fund">
                    <div class="image-fund-sponsor center-block">
                        <a class="thumb" target="_blank" href="{$spoItem->link}">
                            <img class="img-responsive img-rounded center-block" src="{$basePath}{$spoItem->getImageObj()->getLinkBanner()}" alt="{$spoItem->getImageObj()->name}"/>
                        </a>
                    </div></div>
            </figure>
        {/foreach}
    {else}
        <h4>Zatím nemáme žádné sponzory.</h4>
    {/ifset}
</div>
{/block} 
