                    </div>
                </div>
            </div>
        </div>

        <footer class="docs__footer">
            <hr>
            <div class="container">
                <p class="text-center">Radek <%= Time.now.year %></p>
            </div>
      </footer>
      <script src="../js/app-guide.js"></script>
    </body>
</html>
