<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">

      <title>SKVOstrava Style Guide <%= title %></title>
      <link rel="shortcut icon" href="../images/favicon.ico" />
      <link href="https://fonts.googleapis.com/css?family=Hind:400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="../css/style-guide.css">
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu">&#9776;</button>
                  <a class="navbar-brand" href="index.html">SKVOstrava</a>
              </div>
              <div class="collapse navbar-collapse" id="main-menu">
                  <ul class="nav navbar-nav">
                      <li class="nav-item<% if file_name.include?('index.html') %> active<% end %>">
                          <a class="nav-link" href="index.html">Intro</a>
                      </li>
                      <% @categories.sort.each do |category| %>
                      <li class="nav-item<% if file_name.include?(category[1]) %> active<% end %>">
                          <a class="nav-link" href="<%= category[1] %>"><%= category[0] %></a>
                      </li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4 col-lg-3">
                      <div class="sidebar">
                          <div class="list-group">
                              <% @blocks.each do |block| %>
                              <a class="list-group-item" href="#<%= block[:name] %>"><%= block[:title] %></a>
                              <% end %>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-8 col-lg-9">



